body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #09203F ,#537895);
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full viewport height */
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Ensure it scales well on smaller screens */
    box-sizing: border-box;  /* Prevents padding from expanding the width */
}

.exercise-header h2 {
    text-align: center;
    color: #2a7d8c;
}

.instruction {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.option {
    margin-bottom: 15px;
}

.option input[type="radio"] {
    margin-right: 10px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.submit-button:hover {
    background-color: #218838;
}