* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #09203F, #537895);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    background: #f1f1f3;
    border-radius: 20px;
    padding: 2rem;
    width: 40%;
    max-width: 400px;
    box-shadow: 0 8px 16px rgba(7, 7, 7, 0.3);
    text-align: center;
    background-blend-mode: darken;
}

.logo {
    margin-bottom: 1.5rem;
}

.logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #09203F;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    border-color: black;
}

button {
    padding: 0.8rem;
    background-color: #09203F;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4F9C9C;
}

.create-account {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #09203F;
}

.create-account a {
    color: #09203F;
    text-decoration: none;
    font-weight: bold;
}

.create-account a:hover {
    text-decoration: underline;
}